In [153]:
# Project Euler Challenge # 22:
# https://projecteuler.net/problem=22

import pandas as pd

df = pd.read_csv("p022_names.txt", header=None)

In [154]:
df.head()

df.shape

(1, 5163)

In [155]:
df = df.T.sort_values(by=0).reset_index(drop=True).dropna().astype('str')

In [156]:
df.iloc[0]
df.head()

       0
0  AARON
1  ABBEY
2  ABBIE
3   ABBY
4  ABDUL

In [157]:
df.dtypes

0    object
dtype: object

In [158]:
df.iloc[0]

0    AARON
Name: 0, dtype: object

In [168]:
def nameToInt(name):
    name = name.upper() # Convert to upper case
    amount = 0
    for i in range(len(name)):
        # Check if item is a string
        if (not isinstance(name, str)):
            print("Error: item ", i, ", \"", name, "\" is not a string!")
        
        
        # Convert item to value
        amount += ord(name[i]) - ord('A') + 1
    return amount

In [169]:
nameToInt('COLIN')

53

In [170]:
pd.Index(df[0]).get_loc('COLIN') + 1

938

In [171]:
import numpy as np

In [172]:
np.dot(np.arange(1, 1+len(df)), list(map(nameToInt, df[0])))
# According to: https://www.mathblog.dk/project-euler-22-what-is-the-total-of-all-the-name-scores-in-the-file-of-first-names/
# The solution should be 871198282

871040227

In [164]:
(871040227 - 871198282)/5163

-30.613015688553165

In [152]:
"hi".upper()

'HI'

In [167]:
isinstance(1, str)

False